.Header_Outer_Wrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.493);
  height: 10vh;
  /* v h = view height  it is importat becuase it applies or depends on browsers*/
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  padding-top: 70px;
}
.nav__black {
  background-color: black;
}
.Header_inner_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}
.Header_Left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}
.Header_Left ul li,
.Header_Right ul li {
  color: white;
}
.Header_Left ul li img {
  padding-bottom: 20px;
}
.Header_Right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
